<div class="sidebar">
  <div class="sidebar-title"> Navigation</div>

  <ul>
    <li>
      <a routerLink="/dashboard" routerLinkActive="active">📊 Dashboard</a>
    </li>

    <li>
      <a routerLink="/spending-analysis" routerLinkActive="active">📈 Spending Analysis</a>
    </li>

    <li>
      <a routerLink="/transactions" routerLinkActive="active">💵 Transactions</a>
    </li>

    <li>
      <a routerLink="/categories" routerLinkActive="active">🏷 Categories</a>
    </li>

    <li>
      <a routerLink="/budget-summary" routerLinkActive="active">📘 Budget Summary</a>
    </li>
  </ul>
</div>
