<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- app.component.html -->
<nav>
  <a routerLink="/dashboard">Dashboard</a> |
  <a routerLink="/transactions">Transactions</a> |
  <a routerLink="/categories">Categories</a> |
  <a routerLink="/budget-summary">Budget Summary</a> |
  <a routerLink="/spending-analysis">spending-analysis</a>

</nav>

<router-outlet></router-outlet>


